<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shpun.mall.common.mapper.MallDeliveryOrderMapper">

  <resultMap id="BaseResultMap" type="com.shpun.mall.common.model.MallDeliveryOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="delivery_id" jdbcType="INTEGER" property="deliveryId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="receive_time" jdbcType="TIMESTAMP" property="receiveTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>

  <sql id="Base_Column_List">
    id, create_time, delivery_id, order_id, receive_time, status
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_delivery_order
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
   update mall_delivery_order
    set deleted = 1
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.shpun.mall.common.model.MallDeliveryOrder">
    insert into mall_delivery_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        create_time,
      </if>
      <if test="deliveryId != null">
        delivery_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="receiveTime != null">
        receive_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryId != null">
        #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shpun.mall.common.model.MallDeliveryOrder">
    update mall_delivery_order
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deliveryId != null">
        delivery_id = #{deliveryId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="receiveTime != null">
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getListByFilter" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM mall_delivery_order
    <where>
      <if test="deliveryId != null">
        and delivery_id = #{deliveryId,jdbcType=INTEGER}
      </if>
      <if test="status != null">
        and `status` = #{status,jdbcType=INTEGER}
      </if>
    </where>
  </select>

  <select id="getByOrderId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select delivery_id
    from mall_delivery_order
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>

</mapper>